
.enlaces{
    padding: 30px 0;
}

.enlaces h2{
    text-align: center;
    color: rgb(46, 180, 180);
}

.cards{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
}

.card{
    width: 300px;
    height: 250px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.card>p{
    text-align: center;
    text-transform: uppercase;
    width: 90%;
}
.card-link{
    text-align: center;
}
.card-link-cont{
    width: 100px;
    margin: auto;
    background-color: #a3a4ff;
    border-radius: 10px;
    padding: 10px 0;
    color: #fff;
}
.card:hover{
    background-color: rgba(182, 182, 182, 0.1) ;
}
@media (max-width: 992px) {
    
    .enlaces{
        padding: 20px 0;
    }
    .cards{
        gap: 20px;
    }

    .card{
        width: 280px;
        height: 220px;
        gap: 20px;
    }
}
@media (max-width: 576px) {
    .cards{
        gap: 20px;
        justify-content: center;
    }
}