

.content-tabla{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.tabla-card{
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
}

.tabla-card h4{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 20px;
}

.tabla-card-cont{
    width: 100%;
}
.tabla-poblacion__th{
    text-align: start;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 10px;
}


.tabla-poblacion__td{
    border-top: 1px solid rgb(112, 111, 111);
    height: 40px;
    padding-right: 20px;
    padding-left: 10px;
}
@media (max-width: 768px) {
    .tabla-card{
        overflow-y: scroll;  
        padding: 0; 
        width: 600px;
    }
    .tabla-card-cont{
        width: 550px;
    }
}